# Possibly reproducible build with Nix rust-overlay
name: "Reproducible build with rust-overlay"

on:
  push:
    paths-ignore:
    - 'nix-cross-rs/**'
    branches:
    - 'main'
  pull_request:
    paths-ignore:
    - 'nix-cross-rs/**'
    branches:
    - 'main'

jobs:
    nix-cross-rs-build:
      name: "r10e rust-overlay build"
      strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest]
      runs-on: ${{ matrix.os }}
      steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          
      - name: Checkout repository
        uses: actions/checkout@v4.1.1
      - name: Cross build artifacts
        run: |
          cd ${{ github.workspace }}
          make rust-overlay
